:root {
  font-size: 62.5%;

  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 50vw;
  /* overflow: auto; */

  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--body-bg-color);

  display: grid;
  grid-template-areas: 'main aside';
  grid-template-columns: 50vw 50vw;
}

/* ===MAIN=============================== */
main {
  grid-area: main;
}

/* ===HEADER=============================== */
header {
  margin: 5rem 3rem 9rem;
}

.logo {
  width: 50%;
}

/* ===ARTICLE=============================== */
article {
  margin: 5rem 3rem;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.4rem;
  color: var(--title-color);
  margin: 0;
}

.p1 {
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  margin-block: 0.9rem;
}

.p2 {
  color: #ffffff;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  opacity: 0.8;
}

/* ===DIV/FORM=============================== */
.form {
  margin: 0rem 3rem;
}

label {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 1.7rem;
}

input {
  padding-left: 1rem;
  border: none;
  border-left: #04d361 solid 0.5rem;
  margin: 0;
  width: 50vw;
  box-shadow: 6rem 0.4rem 4rem black;
}

.inbut {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 70vw;
  position: relative;
}

.toimg {
  margin: 0;
  width: 2.4rem;
}

button {
  margin: 0;
  padding: 0;
  height: 4.8rem;
  border: none;
  background-color: var(--bg-button-color);
}

a {
  width: 4.8rem;
  display: block;
}

/* ===BACKGROUND-IMG=============================== */
.back-img {
  grid-area: aside;
  background-image: url('./assets/read_news.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  width: 50vw;
}

/* ===PARAGRAPH=============================== */
.term {
  margin: 5rem 3rem;
}

.arrow {
  width: 18.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  text-decoration: none;
}

.p3 {
  color: #8257e5;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  display: inline;
  margin: 0 0.5rem 0 0;
}

.imgri {
  width: 2.4rem;
}
